body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #fff;
}

.header {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    display: block;
    background-image: url(../img/Logo.svg);
    width: 176px;
    height: 56px;
    background-repeat: no-repeat;
}

.header-nav {
    list-style-type: none;
    display: flex;
    padding-left: 0;
    gap: 46px;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 29px 15px 22px;
}

nav {
    padding-right: 90px;
}

.header-nav a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #443737;
    text-decoration: none;
}

.header-nav a:hover {
    color: #FFC725;
}

.header-nav a::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background: transparent;
    border-radius: 1.5px;
}

.header-nav a.activ::after {
    background: #FFC725;
}

.button {
    padding: 0;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    gap: 10px;
    cursor: pointer;
}

.button-item {
    position: relative;
}

.button-count {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 1.35;
    color: #FFFFFF;
    position: absolute;
    bottom: 3.5px;
    left: 17px;
    background-color: #F37335;
    width: 17px;
    height: 17px;
    border-radius: 50%;
}

.button-text {
    font-weight: 700;
    font-size: 15px;
    color: #443737;
}

.maindescription {
    background-image: url(../img/main-page-description-bg.jpg);
    color: white;
    text-align: center;
    max-width: 1920px;
    padding: 142px 0;
    margin: 0 auto 114px;
    background-position: center center;
}

.maindescription-breadcrumbs {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 4px;
}

.maindescription-breadcrumbs a {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 20px;
    color: #DEDEDE;
    text-decoration: none;
}

.maindescription-breadcrumbs a:hover {
    color: #FFC725;
}

.maindescription-breadcrumbs a::after {
    content: ' /';
    color: #DEDEDE;
    pointer-events: none;
}

.maindescription-breadcrumbs li:last-child a::after {
    display: none;
}

.maindescription-title {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 79px;
    color: #FFFFFF;
    margin-top: 17px;
    margin-bottom: 21px;
}

.maindescription-description {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #FAF9F9;
    max-width: 320px;
    margin: 0 auto;
}

header {
    border-bottom: 1px solid #DEDEDE;
}

.banner-box {
    background-image: url(../img/banner.jpg);
    padding: 100px;
}

.banner-title span {
    display: block;
    width: 95px;
    height: 28px;
    margin-bottom: 3px;
    background-color: #F37335;
    border-radius: 14px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.banner-title {
    margin: 0 0 10px;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 76px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.banner-text {
    margin: 0 0 16px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #FAF9F9;
}

.banner-link {
    display: block;
    background-color: #FBB731;
    width: 170px;
    height: 58px;
    border-radius: 4px;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 58px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #1E2F40;
}