    @media (min-width: 569px) {
        .tel-one {
            display: none;
        }
    }
    
    @media (min-width: 1001px),
    (max-width: 568px) {
        .tel-two {
            display: none;
        }
    }
    
    @media (max-width: 1280px) {
        .bg {
            width: 33vw;
        }
    }
    
    @media (max-width: 1180px) {
        /* index */
        .main img {
            width: 70vw;
            bottom: -30px;
        }
        .wrap-title {
            font-size: 100px;
            line-height: 120%;
        }
        .promo-left {
            padding-right: 10px;
        }
    }
    
    @media (max-width: 1000px) {
        /* index */
        .wrap {
            max-width: 768px;
            padding: 0 15px;
            gap: 10px;
        }
        .wrap-text {
            color: #FAF9F9;
            flex: 0 0 430px;
            padding-top: 170px;
            padding-bottom: 170px;
            padding-left: 30px;
            padding-right: 50px;
        }
        .wrap-title {
            font-size: 86px;
            line-height: 120%;
        }
        .wrap-title span {
            font-size: 22px;
        }
        .wrap-content {
            font-size: 14px;
            line-height: 140%;
        }
        .wrap-link {
            border-radius: 4px;
            padding: 18px 41px;
            font-size: 13px;
        }
        .main img {
            bottom: -10vw;
            right: -20vw;
        }
        .promo {
            margin: 0;
        }
        .promo-left {
            padding-top: 44px;
            padding-bottom: 43px;
            padding-right: 53px;
            padding-left: 30px;
        }
        .promo-right {
            padding-top: 60px;
            padding-bottom: 60px;
            padding-right: 30px;
            padding-left: 30px;
        }
        /* menu */
        .footer {
            padding-top: 60px;
        }
        .tel-three {
            display: none;
        }
        .container {
            max-width: 768px;
        }
        .no-padding-right {
            max-width: 1180px;
            margin-right: 0;
        }
        .header-logo {
            width: 150px;
            height: 48px;
            background-size: contain;
        }
        .header-nav {
            gap: 22px;
        }
        .header-item {
            flex-basis: 80%;
        }
        .main_description {
            margin-bottom: 72px;
        }
        .banner-box {
            background-position: -100px center;
            padding: 100px 40px;
        }
        .add-menu {
            overflow: hidden;
            height: 580px;
        }
        .menu-grid {
            grid-template-columns: repeat(2, 1fr);
            gap: 15px;
        }
        .menu-flex {
            display: flex;
            overflow-y: hidden;
            overflow-x: scroll;
        }
        .menu-flex .menu-grid-item {
            flex: 0 0 275px;
        }
        .menu-flex .menu-grid-item .menu-grid-cover {
            height: 320px;
        }
        .footer-group {
            flex-basis: 80%;
        }
        .footer-tel {
            margin-top: 30px;
        }
    }
    
    @media (max-width: 736px) {
        /* index */
        .promo-left .description,
        .promo-right .description {
            font-size: 12px;
        }
        .promo-left .cost {
            font-size: 40px;
        }
        .promo-right .free {
            font-size: 39px;
        }
        /* menu */
        .header-logo {
            width: 25%;
            background-position: center center;
        }
        .header-nav {
            gap: 18px;
        }
        .header-nav a {
            font-size: 16px;
        }
        .menu-grid-cover {
            height: 50vw;
        }
        .footer-title {
            font-size: 2.7vw;
        }
        .tel-two a {
            font-size: 2.8vw;
        }
        .footer-item span {
            font-size: 14px;
        }
    }
    
    @media (min-width: 569px) {
        .burger-btn {
            display: none;
        }
    }
    
    @media (max-width: 568px) {
        /* index */
        .promo-wrap {
            flex-direction: column;
        }
        .promo-left .description,
        .promo-right .description {
            max-width: 250px;
            padding-right: 0;
            font-size: 13px;
            line-height: 19.5px;
        }
        .promo-left,
        .promo-right {
            padding: 44px 0 44px 15px;
        }
        /* menu */
        .header-item .header-nav {
            display: none;
        }
        .header-logo {
            width: 116px;
            height: 37px;
            background-size: contain;
        }
        .banner-box {
            background-position: -240px center;
            padding-right: 180px;
        }
        .menu-grid-title {
            font-size: 22px;
        }
        .menu-grid-cover {
            height: 50vw;
        }
        .add-menu {
            height: 430px;
        }
        .menu-flex .menu-grid-item {
            flex: 0 0 139px;
        }
        .menu-flex .menu-grid-item .menu-grid-cover {
            height: 180px;
        }
        .footer-box {
            flex-direction: column;
        }
        .footer-logo-tel {
            justify-content: space-between;
        }
        .footer-tel {
            margin-top: -6px;
        }
        .footer-group {
            flex-direction: column;
        }
        .footer-title {
            font-size: 18px;
            margin-top: 40px;
        }
    }
    
    @media (max-width: 480px) {
        /* index */
        .wrap {
            max-width: 768px;
            padding: 0 15px;
            gap: 10px;
        }
        .promo-wrap {
            padding: 0;
        }
        .wrap-text {
            color: #FAF9F9;
            flex: 0 0 100px;
            margin: 0 auto;
            padding-top: 170px;
            padding-bottom: 170px;
            padding-right: 30px;
        }
        .wrap-title {
            font-size: 58px;
        }
        .wrap-title span {
            font-size: 14px;
        }
        .wrap-content {
            font-size: 13px;
        }
        .bg {
            display: none;
        }
        .main img {
            right: -7vw;
        }
        /* menu */
        .menu-modal a {
            font-size: 20px;
        }
        .main_description {
            padding: 55px 0;
            margin-bottom: 72px;
        }
        .main_description-breadcrumbs a {
            font-size: 14px;
        }
        .main_description-title {
            font-size: 38px;
        }
        .main_description-description {
            font-size: 12px;
        }
        .banner-box {
            padding: 35px 120px 35px 15px;
            background-position: -180px center;
            margin-bottom: 50px;
        }
        .menu-title,
        .add-menu-title {
            font-size: 27px;
        }
        .menu-select {
            font-size: 12px;
            padding: 13px 15px;
            flex-basis: 200px;
            background-position: 93% center;
        }
        .add-menu {
            height: 370px;
        }
        .menu-grid-title {
            margin: 7px 0 0;
            font-size: 13px;
        }
        .menu-grid-price {
            margin: 5px 0 0;
            font-size: 16px;
        }
        .menu-grid-btn {
            margin: 10px 0 10px;
            width: 129px;
            height: 38px;
        }
    }